html {
    font-family: sans-serif;
    text-align: center;
  }
  textarea {
    height: 40vh;
    width: 45vw;
    margin: 0px auto;
  }
  button {
    display: block;
    margin: 20px auto;
    font-size: 20px;
  }
  footer {
    margin: 30px;
  }
  @media (max-width: 600px) {
    textarea {
      height: 45vh;
      width: 80vw;
      margin: 10px auto;
    }
  }